/*

!.gitignore

!configuration.nix
!home.nix
!flake.nix
!flake.lock

# include only some files in subdirectory
!/device
/device/*
!/device/.device-template.nix
!/device/.home-device-template.nix

!/hw-configs
!/modules/